<script src="socket.io.js"></script>

<script>
    const socket = io('http://localhost:5000', { "transports": ["websocket"] });
    socket.on('connect', () => {
        console.log("you are here with socket " + socket.id)
    });
</script>